body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border-width: 0;
}

table {
    width: 800;
    height: 480;
    padding-left: 18px;
    padding-bottom: 9px;
    border: 1px solid black;
    table-layout: fixed;
}

th {
    text-align: left;
}

td {
    font-size: 27px;
    -webkit-text-stroke: .5px #802800;
    padding-right: 18px;
    padding-bottom: 9px;
}

th._rowHeaderSize {
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 15px
}

._rowHeaderBorder {
    height: 100%;
    width: 100%;
    background: #00776b;
    -webkit-clip-path: polygon(0.25% 0%, 78.9% 0%, 99% 50%, 79% 98.5%, 0.25% 98.5%);
    padding-top: 0.75px;
    padding-left: 1px;
}

div._rowHeaderContent {
    display: flex;
    font-size: 27px;
    color: #ffffff;
    -webkit-text-stroke: .25pt #00776b;
    align-items: center;

    height: calc(100% - .5px);
    width: calc(100% - 8px);

    background-color: #00b3a1;
    -webkit-clip-path: polygon(0% 0%, 79.75% 0%, 100% 50.5%, 80% 99%, 0% 99%);

    padding-left: 6px;
}

span._unit {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

th._columnHeader {
    font-size: 83px;
    -webkit-text-stroke: 1px #802800;
    height: 125px;
    padding-right: 18px;
    padding-bottom: 9px;
    padding-top: 18px;
    margin: 0;
    border-spacing: 0 0;
}

div._dataCell {
    padding-left: 18px;
    padding-bottom: 23px;
    height: 100%;
}

div._dataCell::after {
    content: "";
    height: 100%;
    display: inline-block;
}

div._columnHeader-1 {
    color: #ff5100;
    background-color: #ff510080;
    border: 1px solid #ff5100;
}

div._columnHeader-2 {
    color: #ff6b00;
    background-color: #ff6b0080;
    border: 1px solid #ff6b00;
}

div._columnHeader-3 {
    color: #ff9015;
    background-color: #ff901580;
    border: 1px solid #ff9015;
}

div._columnHeader-4 {
    color: #d5783d;
    background-color: #ffb13880;
    border: 1px solid #d5783d;
}

div.patient-1 {
    color: #ff5100;
    background-color: #ff510033;
    border: 1px solid #ff5100;
}

div.patient-2 {
    color: #ff6b00;
    background-color: #ff6b0033;
    border: 1px solid #ff6b00;
}

div.patient-3 {
    color: #ff9015;
    background-color: #ff901533;
    border: 1px solid #ff9015;
}

div.patient-4 {
    color: #d5783d;
    background-color: #ffb13833;
    border: 1px solid #d5783d;
}
